<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">自由岛能给你想要的！</h2>
                <hr class="light">
                <p class="text-faded">我们是一个提供自由职业机会的专业求职搜索平台</p>
                <p class="text-faded">自由职业者们，请上岛</p>
                <a href="/jobs" class="btn btn-default btn-xl">戳我登岛</a>
            </div>
        </div>
    </div>
</section>
