<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>自由职业</h1>
            <h2>一种迅速兴起的工作方式及生活形态</h2>
            <hr>
            <p>随意安排时间|不用挤地铁|不需伺候上级|自定发展方向</p>

        </div>
    </div>
</header>
