<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>有职位需求，想告知岛民？</h2>
            <a href="admin/jobs" class="btn btn-default btn-xl sr-button">戳我！船马上来！！</a>
        </div>
    </div>
</aside>
